.techfont{
    font-family: 'Russo One', sans-serif;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.bigbrand{
    font-size: 1.5em;
}

.centerstage{
    margin-left: auto;
    margin-right: auto;
}

.postdate{
    text-align: center;
}
a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

.posttitle{
    font-family: 'Russo One', sans-serif;
    font-size: 3em;
    text-align: center;
}
.postcontent{
    font-family: 'Grape Nuts', cursive;
    font-size: 1.5em;
}

.btn-comment{
    position: absolute;
    right: 700px;
}


.post {
    font-family: 'Russo One', sans-serif;
    font-size: 1em;
    color: black;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
